<nav>

  <div class="container">

    <a href="#"><img class="logo"src="../assets/images/logo.png" alt=""></a>

    <div class="menu">
      <a href="#" class="is-active">certificado ditigal</a>
      <a href="#">dúvidas e suporte</a>
      <a href="#">parcerias</a>
      <a href="#">blog</a>
      <a href="#">fale conosco</a>
    </div>

    <a href="#"><img class="icon" src="./assets/icons/search.svg" alt=""></a>
    <a href="#"><img class="icon" src="./assets/icons/perfil.svg" alt=""></a>

    <div class="hambuger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

</nav>